*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}
.nav-bar{
    width: 100%;
    height: 55px;
    background-color: darkolivegreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    width: 70%;
    display: flex;
    justify-content: space-around;
    font-size: 17px;
}
a{
    text-decoration: none;
    color: white;

}
button{
    padding: 4px 15px;
    border: 1px solid lightgray;
    background-color: lightgray;
    color: black;
}
.session{
    cursor: pointer;
    position: relative;
}

.logout{
    width: 100%;
    display: none;
    position: absolute;
}
.logout:hover{
    background-color: lightblue;
}

.session:hover .logout{
    display: block;
}
.logo img{
   padding: 5px 10px;
}

main {
    padding: 30px;
}


.educational-resources {
    max-width: 800px;
    margin: 0 auto;
}

.educational-resources h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.resource {
    margin-bottom: 30px;
}

.resource h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.resource p {
    margin-bottom: 10px;
}

.resource a {
    display: inline-block;
    padding: 8px 16px;
    background-color:darkolivegreen;
    color: #fff;
    text-decoration: none;
}

footer{
    width: 100%;
    height: 50vh;
    background-color: darkgreen;
}
.footerDiv{
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 310px);
    justify-content: space-evenly;
}
.footerDiv div h3{
    margin-top: 13px;
}
.footerDiv div p{
    margin-top: 13px;
}
.footerDiv div p a{
    color: lightgray;
}
.footerDiv div p a:hover{
    text-decoration: underline;
}
.socials{
    width: 100%;
    text-align: center;    
}
.socials i{
    position: unset;
    color: lightgray;
    font-size: 20px;
    margin: auto 5px;
}
.socials p{
    color: lightgray;
}
