*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}
.nav-bar{
    width: 100%;
    height: 55px;
    background-color: darkolivegreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    width: 70%;
    display: flex;
    justify-content: space-around;
    font-size: 17px;
}
a{
    text-decoration: none;
    color: white;

}
button{
    padding: 4px 15px;
    border: 1px solid lightgray;
    background-color: lightgray;
    color: black;
}
.session{
    cursor: pointer;
    position: relative;
}

.logout{
    width: 100%;
    display: none;
    position: absolute;
}
.logout:hover{
    background-color: lightblue;
}

.session:hover .logout{
    display: block;
}
.logo a img{
    width: 100px;
    height: 55px;
 }
.intro{
    width: 100%;
    height: 91vh;
    background-image: url(".//assets/WhatsApp\ Image\ 2024-02-07\ at\ 12.24.22\ PM.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
.shade{
    width: 100%;
    height: 91vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}
.intro-txt{
    position: absolute;
    width: 600px;
    height: 400px;
    color: white;
    top: 270px;
    left: 100px
    
}
.intro-txt p{
    font-size: 18px;
}
.schedule{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 370px);
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}
.yard, .mixed-recycling, .compost{
    border: 1px solid white;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.yard a, .mixed-recycling a, .compost a{
    color: green;
}
.yard h2, .yard p, .yard a,
.mixed-recycling h2, .mixed-recycling p, .mixed-recycling a,
.compost h2, .compost p, .compost a{
    margin-left: 10px;
}
.trash-pic{
    width: 200px;
    height: 200px;
    margin-left: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.billing{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}
.my-klin{
    position: relative;
    width: 75%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px;
}
.my-klin .btn{
    position: absolute;
    right: 30px;
    top: 60px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}
.my-klin h1{
    font-weight: 700;
    font-size: 55px;
    color: darkgreen;
}
.my-klin p{
    font-size: 18px;
}
.process{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 170px;
    background-color: #fff;
    right: 0;
}
.process div{
    width: 100px;
    text-align: center;
    cursor: pointer;
}
.process div .fa{
    font-size: 25px;
    font-weight: 700;
    color: darkgreen;
}
.process div h4{
    font-weight: 700;
}


.educate{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
}
.educate-txt{
    width: 500px;
}
.educate-txt h1{
    color: darkgreen;
    font-size: 55px;
    font-weight: 700;
}
.educate-txt p{
    font-size: 18px;
}
.educate-txt .btn{
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
    font-size: 18px;
}
.help{
    width: 100%;
    height: 220px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    margin-top: -20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.help p, .help .btn{
    margin-top: 10px;
    font-size: 18px;
}
.help .btn{
    padding: 10px;
    border-radius: 20px;
}
footer{
    width: 100%;
    height: 50vh;
    background-color: darkgreen;
}
.footerDiv{
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 310px);
    justify-content: space-evenly;
}
.footer div{
    margin-top: 10px;
}
.footerDiv div p a{
    color: lightgray;
}
.socials{
    width: 100%;
    text-align: center;    
}
.socials i{
    position: unset;
    color: lightgray;
    font-size: 20px;
    margin: auto 5px;
}
.socials p{
    color: lightgray;
}
